
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>display</title>
</head>
viewBag.Title="Display"
  <img src="~/App_Data/export-map-share.png" />
    
  
</html>